<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="74b72770-21cb-4121-aacf-b2ada7c46bff" name="FTP TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="74b72770-21cb-4121-aacf-b2ada7c46bfffileName">FTP-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
