<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c13f0e11-d108-4309-9ea3-cfb3f81603cb" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c13f0e11-d108-4309-9ea3-cfb3f81603cbfileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
