<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9531ecf0-35f3-41e4-8c5e-deb70130cbe9" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9531ecf0-35f3-41e4-8c5e-deb70130cbe9fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
