<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d5cba6ea-57bb-4c3b-9f96-8ee84df87c89" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d5cba6ea-57bb-4c3b-9f96-8ee84df87c89fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
